<?xml version="1.0" encoding="UTF8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress SqlNoDataSourceInspection, SqlDialectInspection -->
<mapper namespace="cn.hncj.assistant.mapper.CourseMapper">

    <!-- 分页查询使所有课程 -->
    <select id="selectCourseByTeacherId" resultType="CourseDTO">
        select course.course_id,course.teacher_id,teacher.teacher_name,course.course_name,course.course_cover

        from course,teacher

        where course.teacher_id = teacher.teacher_id
        and teacher.teacher_id = #{teacher_id}

        <if test="status != 0">
            and course.course_status = #{status}
        </if>

        limit #{start},#{size};
    </select>


    <!-- 修改课程 -->
    <update id="updateCourse">
        update course
        <set>
            <if test="course_name != null">course_name=#{course_name},</if>
            <if test="course_cover != null">course_cover=#{course_cover},</if>
            <if test="course_status != null">course_status=#{course_status}</if>
        </set>
        where course_id=#{course_id} and teacher_id = #{teacher_id}
    </update>


</mapper>