<?xml version="1.0" encoding="UTF8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress SqlNoDataSourceInspection, SqlDialectInspection -->
<mapper namespace="cn.hncj.assistant.mapper.CourseMapper">

    <!-- 分页查询使所有课程 -->
    <select id="selectCourseByTeacherId" resultType="course">
        select * from
        <choose>
            <when test="status == 1">
                started_course
            </when>
            <when test="status == 2">
                ended_course
            </when>
            <when test="status == 3">
                deleted_course
            </when>
            <otherwise>
                course
            </otherwise>
        </choose>
        where teacher_id = #{teacher_id}
        limit #{start},#{size};
    </select>


    <!-- 修改课程 -->
    <update id="updateCourse">
        update course
        <set>
            <if test="course_name != null">course_name=#{course_name},</if>
            <if test="course_cover != null">course_cover=#{course_cover},</if>
            <if test="course_status != null">course_status=#{course_status}</if>
        </set>
        where course_id=#{course_id} and teacher_id = #{teacher_id}
    </update>


</mapper>