<?xml version="1.0" encoding="UTF8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress SqlNoDataSourceInspection, SqlDialectInspection -->
<mapper namespace="cn.hncj.assistant.mapper.DiscussionMapper">

    <!-- 根据学时id查询课堂讨论 -->
    <select id="selectByPeriodId" resultType="discussion">
        select discussion_id,discussion_title,discussion_content,discussion_date
        from discussion
        where period_id = #{period_id};
    </select>


    <!-- 根据讨论id查询讨论 -->
    <select id="selectDiscussionByDiscussionId" resultType="DiscussionDTO">
        select discussion.discussion_id,discussion.discussion_title,discussion.discussion_content,discussion.discussion_date,teacher.teacher_name,teacher.teacher_avatar
        from discussion,period,week,course,teacher
        where discussion.period_id = period.period_id and period.week_id = week.week_id and week.course_id = course.course_id and course.teacher_id = teacher.teacher_id
        and discussion.discussion_id = #{discussion_id};
    </select>

</mapper>