<?xml version="1.0" encoding="UTF8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress SqlNoDataSourceInspection, SqlDialectInspection -->
<mapper namespace="cn.hncj.assistant.mapper.TeacherMapper">
    <select id="verifyTeacher" resultType="int">
        select count(*) from teacher
        where teacher_id = #{teacher_id} and teacher_password = #{teacher_password};
    </select>


    <!-- 查询所有教师 -->
    <select id="selectTeachers" resultType="teacher">
        select teacher_id,administrator_id,teacher_name,teacher_sex,teacher_avatar,teacher_phone,teacher_email,teacher_Status
        from teacher
        limit #{start}, #{size};
    </select>

    <!-- 教师数量 -->
    <select id="countTeacher" resultType="int">
        select count(*) from teacher;
    </select>

    <insert id="insertTeacher">
        insert into teacher
        values (#{teacher_id},#{administrator_id},#{teacher_name},'670B14728AD9902AECBA32E22FA4F6BD',#{teacher_Sex},'avatar',#{teacher_phone},#{teacher_email},'',1);
    </insert>
</mapper>